<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Play&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <h1>SNAKE</h1>
        <div class="button-container">
            <a href="/snake"><button>PLAY</button></a>
            <!-- <a href="/snake">PLAY</a> -->
        </div>
    </body>
</html>